*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html body {
    padding-top: 30px;
   }

h1, h2, h3, h4, a{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

p{
    font-family: 'Roboto', sans-serif;
}

/* link hover animation*/
.underline-animation{
    transition: 500ms;
    border-bottom: 1px solid transparent;
  }
  
  .underline-animation:hover {
    border-color: white;
  }


main{
    background-color: #EFEFEF;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #015457;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    text-decoration: none;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}

/*homepage*/

.portfolio-banner{
    background-color: #006367;
    justify-content: center;
    display: flex;
    color: white;
    padding: 50px;
    padding-top: 80px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}



.intro-wrapper{
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    max-width: 540px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.intro p{
    padding: 20px;
}

.intro h2{
    padding: 20px;
    color: #006367;
    
    
}

.intro a{
    color: #006367;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #006367;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.intro img{
    width: 250px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.portfolio{
    margin-top: 20px;
    padding-bottom: 40px;

}

.portfolio-flexbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 30px;
    color: #484848;
}

.portfolio-felxbox-item{
    background-color: #006367;
    margin: 0px 10px 20px 10px;
    color: #E2E2E2;
    max-width: 750px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3), 0 6px 16px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 5px;
}

.portfolio-felxbox-item ul{
    padding: 15px 0px 15px 0px
    
}

.portfolio-felxbox-item a{
    color: #E2E2E2;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #E2E2E2;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.project-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.co-own-project-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.screenshot{
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width:500px){
    .navLinks{
        width: 70%;
    }
    .bottomNav{
        width: 70%;
    }
}


@media screen and (min-width:1000px){
    .portfolio-felxbox-item{
       max-width: 45%;
    }
    .portfolio-flexbox-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media screen and (min-width:1300px){
    .navLinks{
        width: 35%;
    }
    .bottomNav{
        width: 35%;
    }
    .portfolio-felxbox-item{
        margin: 20px;
        
     }
}

/* about page */

.about-banner{
    background-color: #006367;
    justify-content: center;
    display: flex;
    color: white;
    padding: 50px;
    padding-top: 80px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* cv page */

.main-wrapper-cv{
 box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.cv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cv-section1{
    text-align: center;
    color: white;
    background-color: #006367;
    padding: 50px 20px 20px 20px;

}

.cv-section2{
    text-align: center;
    color: #484848;
    padding: 50px 20px 20px 20px;
}

.cv-section1 li, .cv-section2 li{
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;

}

.cv-section1 ul{
    display: flex;
    justify-content: left;
    padding: 10px;
}

.cv-section2 ul{
    display: flex;
    justify-content: left;
    padding: 10px;
}


.cv-image{
    width: 200px;
    border-radius: 50%;
    margin: 10px;
}

.cv-name{
    border-bottom: 2px solid white;
}

.cv-tagline{
    padding-bottom: 30px;
}

.profile-text{
    padding-bottom: 30px;
    text-align: left;
}

.big-icon{
    width: 60px;
    margin: 20px;
}

.small-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.green-box{
    width: 20px;
    height: 20px;
    background-color: #006367;
    margin-right: 10px;
}

.bullet-point-box{
    width: 10px;
    height: 10px;
    margin: 2.5px;
    margin-right: 10px;
    background-color: black;
}

.logo-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.logo-list li{
    padding: 30px;
    
}

.logo-list li img{
    width: 80px;
    height: 80px;
}

.bold{
    font-weight: bold;

}

.skills-text{
    text-align: left;
    padding-bottom: 30px;
}


@media screen and (min-width:800px){
    .cv-section1{
        width: 40%;
    }
    .cv-section2{
        width: 60%;
    }
}

/* contact psge*/

.contact-banner{
    background-color: #006367;
    justify-content: center;
    display: flex;
    color: white;
    padding: 50px;
    padding-top: 80px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.contact-info{
    justify-content: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info ul{
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;


}

.contact-info li{
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    
}
.form{
    width: 100%;
}

.form-heading{
    color: #006367;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.form-passed{
    display: none;
}

.form-error{
    display: none;
}

.contact-form{
    display: flex;
    justify-content: left;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;;
}

.form-group{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.form-group span{
    color:#006367;
}

.form-group{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-group input{
    font-family: 'Roboto', sans-serif;
    border: 2px solid #006367;
    border-radius: 5px;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-group textarea{
    font-family: 'Roboto', sans-serif;
    border: 2px solid #006367;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 200px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2px;
    margin-bottom: 2px;
}

.submit{
    color: white;
    background-color: #006367;
    padding: 14px;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 0.9em;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    
}

.submit:hover{
    background-color: white;
    color: #006367;
    border: 2px solid #006367;
    padding: 12px;

}

@media screen and (min-width:700px){

    .contact-form{
        margin: 40px;
        margin-left: 6%;

    }
    .contact-info{
        margin: 40px;
        margin-right: 6%;

    }
    .main-flex-wrapper{
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width:1000px){
    .contact-form{
        width: 400px;
    }
}

@media screen and (min-width:1000px){
    .contact-form{
        width: 500px;
    }

}

/* footer */
.footer{
    text-align: center;
    padding: 20px;

}


.footer p{
    max-width: 1300px;
    margin: auto;
}