*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-width: 285px;
    background-color: #e9e9e9;
    min-height: 100vh;
   }

h1, h2, h3, h4, a{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #222222;
}

/* link hover animation*/
.underline-animation{
    transition: 500ms;
    border-bottom: 1px solid transparent;
  }
  
  .underline-animation:hover {
    border-color: white;
  }

.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 999;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #006367;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    text-decoration: none;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
}

/*homepage*/


.intro{
    text-align: center;
    max-width: 1300px;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #e9e9e9, #d2d2d2)

}


.main-wrapper-homepage{
    max-width: 1300px;
    margin: auto;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.intro p{
    padding: 20px;
    color: #222222;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.intro h1{
    color: #1c1259;
    margin-left: auto;
    margin-right: auto;
    width: 90%;  
}

.intro a{
    color: white;
    background-color: #F46C11;
    padding: 5px;
    border: 2px solid #F46C11;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 200px;
}
.intro a:hover{
    background-color:white;
    color: #F46C11;
    transition: ease-out 300ms;
}

.intro img{
    width: 200px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    margin: 20px;
}

.portfolio{
    margin-top: 20px;
    background-color: white;
    max-width: 1300px;
    margin: auto;

}

.portfolio-flexbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.portfolio-felxbox-item{
    width: 100%;
    text-align: center;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.project1{
    background-image: url(../img/Eduplaytion-project.jpg);
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.2);
}

.project2{
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: url(../img/Co-own-project.jpg);
}

.project3{
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: url(../img/javascript-CA.jpg);
}

.project4{
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.2);
    background-image: url(../img/wordpress-website.jpg);
}

@media (hover: hover) {
    .project2:hover{
        background: linear-gradient( rgba(250, 250, 250, 1), rgba(202, 202, 234, 0.7) ), url("../img/Co-own-project.jpg");
        background-size: cover;
        background-position: center;
    }
    .project3:hover{
        background: linear-gradient( rgba(250, 250, 250, 1), rgba(202, 202, 234, 0.7) ), url("../img/javascript-CA.jpg");
        background-size: cover;
        background-position: center;
    }
    .project4:hover{
        background: linear-gradient( rgba(250, 250, 250, 1), rgba(202, 202, 234, 0.7) ), url("../img/wordpress-website.jpg");
        background-size: cover;
        background-position: center;
    }
    .project1:hover{
        background: linear-gradient( rgba(250, 250, 250, 1), rgba(202, 202, 234, 0.7) ), url("../img/Eduplaytion-project.jpg");
        background-size: cover;
        background-position: center;
    }
    .portfolio-felxbox-item div:hover{
        color: #1c1259;
        opacity: 1;
        transition: 600ms;
    }
}

.click-project{
    padding-top: 20px;
}

.portfolio-felxbox-item a{
    color: white;
    text-decoration: none;
}


.portfolio-felxbox-item div{
    padding-bottom: 13%;
    padding-top: 13%;
    width: 100%;
    opacity: 0;
}


.project-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

@media screen and (min-width:320px){
    .portfolio-felxbox-item div{
        padding-bottom: 15.5%;
        padding-top: 15.5%;
    }
}

@media screen and (min-width:440px){
    .portfolio-felxbox-item div{
        padding-bottom: 19%;
        padding-top: 19%;
    }
}

@media screen and (min-width:500px){
    .navLinks{
        width: 70%;
    }
    .bottomNav{
        width: 70%;
    }
    .portfolio-felxbox-item div{
        padding-bottom: 20%;
        padding-top: 20%;
    }
}

@media screen and (min-width:650px){

     .portfolio-felxbox-item div{
        padding-bottom: 22%;
        padding-top: 22%;
    }

}

@media screen and (min-width:750px){

    .intro img{
        width: 200px;
        height: 200px;
    }

    .intro{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        padding-top: 80px;
    }
    .intro a{
        margin-right: 100%;
    }
    .intro p{
        text-align: left;
        width: 400px; 
        padding-left: 0px;
        margin-left: 0px;  
        margin-right: auto; 
    }
    .intro h1{
        width: 100%;
    }

}

@media screen and (min-width: 856px){
    .portfolio-felxbox-item{
        max-width: 50%;
     }
     .portfolio-flexbox-container{
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
     }
     .portfolio-felxbox-item div{
        padding-bottom: 18%;
        padding-top: 18%;
    }
}


@media screen and (min-width:900px){
    .intro p{
        text-align: left;
        width: 500px;    
    }
    .intro-text-wrapper{
        margin: 30px;
    }
    .intro img{
        margin: 30px;
        width: 200px;
        height: 200px;
    }  
    .intro h1{
        text-align: left;
    }
}

@media screen and (min-width:1025px){
    .portfolio-felxbox-item div{
        padding-bottom: 20%;
        padding-top: 20%;
    }
}

@media screen and (min-width:1300px){
    .navLinks{
        width: 35%;
    }
    .bottomNav{
        width: 35%;
    }
    .portfolio-felxbox-item div{
        padding-bottom: 21.5%;
        padding-top: 21.5%;
    }
}

/* about page */

.about-main{
    background: white;
    min-height: 92vh;
    max-width: 1300px;
    margin: auto;
    padding-top: 50px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.about-banner{
    background: linear-gradient(to right, #e9e9e9, #d2d2d2);
    justify-content: center;
    display: flex;
    color: #1c1259;
    padding: 50px;
}

.about-main h1{
    letter-spacing: 2px;
    color: #1c1259;
    padding-top: 20px;
}

.about-me-wrapper{
    max-width: 1000px;
    margin: auto;
}

.about-me p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #222222;
}

.about-me h3{
    color: #1c1259;
    letter-spacing: 2px;
}

.about-me{
    padding: 20px;
}

.about-me img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.portfolio-btn{
    margin-top: 20px;
    width: 150px;
    text-align: center;
    color: white;
    background-color: #F46C11;
    padding: 5px;
    border: 2px solid #F46C11;
    text-decoration: none;
    display: block;
    margin-right: auto;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-btn:hover{
    background-color:white;
    color: #F46C11;
    transition: ease-out 300ms;
}

/* cv page */

.cv-main{
    background-color: #e9e9e9;
    padding-top: 50px;
}

.main-wrapper-cv{
    max-width: 1300px;
    margin: auto;
}

.cv{
    background-color: #e9e9e9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.cv-section1{
    text-align: center;
    color: #ffffff;
    background-color: #006367;
    padding: 20px;
}

.cv-section1 div{
    display: flex;
}

.cv-section1 h3{
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
}

.cv-section1 p{
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
}

.list{
    padding-top: 15px;
    padding-bottom: 15px;
}
.cv-name{
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.title{
    color: #ffffff;
    padding-bottom: 20px;
}


.cv-section2{
    color: #222222;
    background-color: #ffffff;
}

.cv-section2 li{
    list-style: none;
}

.cv-section2-wrapper{
    margin: 50px 20px 20px 20px; 
}

.cv-section2-wrapper div{
    display: flex;
}

.section2-heading{
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;

}

.cv-section2 h3{
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
}

.cv-image{
    width: 150px;
    border-radius: 50%;
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.profile-text{
    padding-bottom: 40px;
    text-align: left;
}

.big-icon{
    width: 50px;
    margin: 10px 10px 10px 0px;
}

.small-icon{
    width: 25px;
    margin-right: 10px;
}


.logo-list{
    text-align: center;


}

.logo-list li{
    list-style: none;
    width: 80px;
    display: inline;

    
}

.logo-list li img{
    width: 80px;
    height: 80px;
    margin: 20px;
}

.bold{
    font-weight: bold;
}


.list-subheadline{
    list-style: none;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.skills-text{
    text-align: left;
    padding-bottom: 30px;
}

@media screen and (max-width:323px){
    .cv-section1{
        font-size: smaller;
    }
    .cv-section2{
        font-size: smaller;
    }

}

@media screen and (min-width:700px){
    .cv-section1{
        width: 40%;
    }
    .cv-section2{
        width: 60%;
    }
    .list{
        font-size: small;
    }
}

@media screen and (min-width:1025px){
    .cv-main{
        width: 100%;
    }
    .cv-section1{
        width: 40%;
    }
    .cv-section2{
        width: 60%;
    }
    .list{
        font-size: medium;
    }
}

/* contact page*/


.contact-main{
    background-color: #E9e9e9;
    box-shadow: none;
    padding-top: 50px;
}

.main-content-wrapper{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.main-flex-wrapper{
    background-color: #006367;
    padding-top: 30px;
}

.contact-info{
    justify-content: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    padding-top: 50px;
}


.contact-info div{
    display: flex;
    padding-bottom: 50px;
}

.contact-info h3{
    margin-top: auto;
    margin-bottom: auto;
}

.contact-info p{
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
}

.contact-info-icon{
    width: 100px;
    padding-right: 15px;
}

.form{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.form h2{
    letter-spacing: 4px;

}

.form-heading{
    color: #006367;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.form-passed{
    display: none;
}

.form-error{
    display: none;
}

.contact-form{
    display: flex;
    justify-content: left;
    width: 100%;
    background-color: #ffffff;
}

.form-group{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.form-group span{
    color:#1c1259;
}

.form-group{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-group input{
    font-family: 'Roboto', sans-serif;
    border: 1px solid #e9e9e9;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.6), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-group textarea{
    resize: none;
    font-family: 'Roboto', sans-serif;
    border: 1px solid	#e9e9e9;
    padding: 5px;
    padding-bottom: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.6), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

.submit{
    color: white;
    background-color: #F46C11;
    padding: 12px;
    border: 2px solid #F46C11;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    font-size: 0.9em;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    
}

.submit:hover{
    background-color: white;
    color: #F46C11;
    padding: 12px;
    transition: 300ms;
}


@media screen and (min-width:800px){

    .form{
        margin: 0px;
        padding-top: 50px;
    }

    .contact-form{
        padding: 40px;
        padding-left: 6%;

    }
    .contact-info{
        margin: 40px 20px 20px 20px;

    }

    .main-flex-wrapper{
        max-width: 1300px;
        min-height: 89.1vh;
        display: flex;
        justify-content: center;
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);  
    }

}

/* footer */
footer{
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    background-color: #454545;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}



footer p{
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ffffff;
}

.credit a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #F46C11;
}